<center>
    <hr />
    <p style="width: 170px;">
            <img src="https://st4.depositphotos.com/1030956/22971/v/600/depositphotos_229714188-stock-illustration-journalism-theme-vector-emblem-created.jpg" 
            width="70" height="60" alt="" style="float: left;"/>
            &copy; News, 2023
    </p>
    
</center>